In [2]:
import pandas as pd
import numpy as np

In [11]:
print('Importing the dataset from google drive public with the help requests and StringIO packages. Reading the rawfile obtained with read_csv function of pandas.')
import requests
from io import StringIO
data_url='https://drive.google.com/file/d/11Iq7YvbWZbt8VXjfm06brx66b10YiwK-/view'

file_id = data_url.split('/')[-2]
download_url='https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(download_url).text
csv_rawfile = StringIO(url)
data = pd.read_csv(csv_rawfile)
print(data.head())

Importing the dataset from google drive public with the help requests and StringIO packages. Reading the rawfile obtained with read_csv function of pandas.
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [12]:
print('Checking the data summary')
data.info()

Checking the data summary
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [13]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [15]:
data.shape

(150, 6)

In [86]:
print('Check for null/missing values in each column and return sum of total missing values in each column/feature')
print(data.isnull().sum())
print(data.isnull().values.any())

Check for null/missing values in each column and return sum of total missing values in each column/feature
Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64
False

In [36]:
print('Encode the target variable/attribute with user defined function implementing OrdinalEncoder')
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()
def encode_each_column(colum):     
    nonul=np.array(colum.dropna())   #removes na values from column
    impute_reshpe=nonul.reshape(-1,1) #reshapes colum for encoding
    encode_catcol=encoder.fit_transform(impute_reshpe)
    colum.loc[colum.notnull()]=np.squeeze(encode_catcol) #Assign back encoded values to non null values of the column
    return colum
encode_each_column(data['Species'])

Encode the target variable/attribute with user defined function implementing OrdinalEncoder

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: Species, Length: 150, dtype: float64

In [42]:
print('Preparing the data for training the decision tree classification model')
data.head()
X=data.drop(['Id','Species'],axis=1)
y=data.Species
print(X.head()) #predictor attributes data
print('\n\n The target feature : \n',y.head()) #target attribute data

Preparing the data for training the decision tree classification model
   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2


 The target feature :
 0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Species, dtype: float64

In [16]:
print('Now we proceed to build the Decision Tree model for classification')

Now we proceed to build the Decision Tree model for classification

In [49]:
print('Splitting the data into training and test data')
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=123,test_size=0.25)

Splitting the data into training and test data

In [51]:
print('Gini index is used as splitting criterion while selecting feature in each iteration.Feature with lowest gini index is selected in each split.')
from sklearn.tree import DecisionTreeClassifier
Dtree=DecisionTreeClassifier(criterion = "gini", random_state = 100, max_depth=5,max_leaf_nodes=12,min_samples_leaf=5)

Gini index is used as splitting criterion while selecting feature in each iteration.Feature with lowest gini index is selected in each split.

In [53]:
Dtree

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [54]:
print('Fitting the classifier with training data')
Dtree.fit(X_train,y_train) #fit the data in Decision Tree Classifier model created

Fitting the classifier with training data

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=5, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [67]:
print('Predict species on test data')
y_predicted=Dtree.predict(X_test)
print(y_predicted)

Predict species on test data
[1. 2. 2. 1. 0. 2. 1. 0. 0. 1. 2. 0. 1. 2. 2. 2. 0. 0. 1. 0. 0. 1. 0. 2.
 0. 0. 0. 2. 2. 0. 2. 1. 0. 0. 1. 1. 2. 0.]

In [83]:
print('Checking the accuracy of prediction')
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

print('Confusion matrix of the y_test and y_predicted:', confusion_matrix(y_test,y_predicted))
print('Accuracy of prediction with respect to test data is :', f'{accuracy_score(y_test,y_predicted)*100} %')

Checking the accuracy of prediction
Confusion matrix of the y_test and y_predicted: [[16  0  0]
 [ 0  8  0]
 [ 0  2 12]]
Accuracy of prediction with respect to test data is : 94.73684210526315 %